## EXPLORING AIRBNB MARKET TREND

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb 
listings in New York City to meet the high demand for temporary lodging for travelers, which can 
be anywhere between a few nights to many months. In this project, you will take a closer look at 
the New York Airbnb market by combining data from multiple file types like .csv, .tsv, and .xlsx. 
Recall that CSV, TSV, and Excel files are three common formats for storing data. Three files 
containing data on 2019 Airbnb listings are available to you and compressed into a zip file named 
‘airbnb_market.zip’:

In [2]:
# import necessary libraries and load all dataset

import pandas as pd
price = pd.read_csv(r"C:\Users\USER\Desktop\DATA ANALYSIS CLASS\VSCODE\DATASET\PROJECT\airbnb_market\data\airbnb_price.csv")
rt = pd.read_excel(r"C:\Users\USER\Desktop\DATA ANALYSIS CLASS\VSCODE\DATASET\PROJECT\airbnb_market\data\airbnb_room_type.xlsx")
review = pd.read_table(r"C:\Users\USER\Desktop\DATA ANALYSIS CLASS\VSCODE\DATASET\PROJECT\airbnb_market\data\airbnb_last_review.tsv")

In [ ]:
# merge all dataset based on unique identifier
price_join = price.merge(rt, on = "listing_id", how = "outer")
airbnb_data = price_join.merge(review, on = "listing_id", how = "outer")
airbnb_data

,listing_id,price,nbhood_full,description,room_type,host_name,last_review
0,2595,225 dollars,"Manhattan, Midtown",Skylit Midtown Castle,Entire home/apt,Jennifer,May 21 2019
1,3831,89 dollars,"Brooklyn, Clinton Hill",Cozy Entire Floor of Brownstone,Entire home/apt,LisaRoxanne,July 05 2019
2,5099,200 dollars,"Manhattan, Murray Hill",Large Cozy 1 BR Apartment In Midtown East,Entire home/apt,Chris,June 22 2019
3,5178,79 dollars,"Manhattan, Hell's Kitchen",Large Furnished Room Near B'way,private room,Shunichi,June 24 2019
4,5238,150 dollars,"Manhattan, Chinatown",Cute & Cozy Lower East Side 1 bdrm,Entire home/apt,Ben,June 09 2019
...,...,...,...,...,...,...,...
25204,36425863,129 dollars,"Manhattan, Upper East Side",Lovely Privet Bedroom with Privet Restroom,PRIVATE ROOM,Rusaa,July 07 2019
25205,36427429,45 dollars,"Queens, Flushing",No.2 with queen size bed,PRIVATE ROOM,H Ai,July 07 2019
25206,36438336,235 dollars,"Staten Island, Great Kills",Seas The Moment,Private room,Ben,July 07 2019
25207,36442252,100 dollars,"Bronx, Mott Haven",1B-1B apartment near by Metro,Entire home/apt,Blaine,July 07 2019
25208,36455809,30 dollars,"Brooklyn, Bushwick","Cozy Private Room in Bushwick, Brooklyn",Private room,Christine,July 08 2019

TASKS: 

As a consultant working for a real estate start-up, you have collected Airbnb listing data from 
various sources to investigate the short-term rental market in New York. You'll analyze this data 
to provide insights on private rooms to the real estate company. 

• What are the dates of the earliest and most recent reviews? Store these values as two 
separate variables with your preferred names.

In [25]:
# What are the dates of the earliest and most recent reviews? Store these values as two 
# separate variables with your preferred names

airbnb_data["last_review"] = pd.to_datetime(airbnb_data["last_review"]) # converts to datetime
airbnb_data.dtypes
sorted_air = airbnb_data.sort_values(by = "last_review")
earliest_date = sorted_air.iloc[0,6]
earliest_date = earliest_date.strftime("%B %d %Y") # CHANGE TO STRING FORMAT
earliest_date

latest_date = sorted_air.iloc[-1,6]
latest_date = latest_date.strftime("%B %d %Y") # Change to string format
latest_date

# Earliest date is January 01, 2019 
# Recent date is July 09, 2019

'July 09 2019'

• How many of the listings are private rooms? Save this into any variable.

In [18]:
# How many of the listings are private rooms? Save this into any variable.
airbnb_data["room_type"].unique() # identifies unique room type
airbnb_data["new room_type"] = airbnb_data["room_type"].str.lower()
room_group = airbnb_data.groupby("new room_type")["new room_type"].count()
room_group
num_private_room = room_group.iloc[1]
num_private_room

# number of private room is 11356

np.int64(11356)

• What is the average listing price? Round to the nearest two decimal places and save into a 
variable.

In [19]:
# What is the average listing price? Round to the nearest two decimal places and save into a 
# variable
airbnb_data
airbnb_data["new_price"] = airbnb_data["price"].map(lambda x: x[:x.find(" ")]).astype(int) # creates a new column with integer datatype
airbnb_data
avg_listing_price = (f"{airbnb_data["new_price"].mean():.2f} dollars") # format to string
avg_listing_price

# The average listing price is 141.78 dollars

'141.78 dollars'

• Combine the new variables into one DataFrame called review_dates with four columns in 
the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price. The 
DataFrame should only contain one row of values.

In [20]:
# Combine the new variables into one DataFrame called review_dates with four columns in 
# the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price. The 
# DataFrame should only contain one row of values

review_dict = {"first_reviewed": [earliest_date], "last_reviewed": [latest_date], "nb_private_rooms": [num_private_room], "avg_price": [avg_listing_price]}
review_dates = pd.DataFrame(review_dict)
review_dates

    first_reviewed last_reviewed  nb_private_rooms       avg_price
0  January 01 2019  July 09 2019             11356  141.78 dollars